*,
*::before,
*::after{
    color: #000;
    font-family: "Roboto";
    font-size: 14px;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width:  1200px;
    margin: 0 auto;
}

/* Header 
==========================================================================*/

header{
    background-image: url(./img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0 650px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.devider{
    width: 100%;
}

.logo{
    display: flex;
}

.logo_1{
    font-size: 36px;
    color:#0F4898;
    font-weight: 700;
}

.logo_2{
    font-size: 36px;
    color:#fff;
    font-weight: 700;
    text-transform: uppercase;
}

.links{
    display: flex;
    justify-content: center;
}

.nav_element{
    margin-right: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: "Montserrat";
    font-weight: 300;
    transition: color .2s linear;
}

.nav_element:hover{
    color: #0F4898;
    transition: color .2s linear;
}

.nav_element:last-child{
    margin-right: 0;
}


span{
    text-align: right;
}

.number{
    color: #fff;
}

.mail{
    color: #fff;
}

/* Projects
======================================================================== */

.project{
    background: linear-gradient(to right, #E5E5E5 60%, #fff 40%);
    
}

.container_section{
    max-width: 826px;
    width: 100%;
    margin: 0 auto;
}

.project_inner{
    display: flex;
    padding: 100px 0;
    max-height: 650px;
}

.project_left{
  display: block;
  position: absolute;
  z-index: 1;
  max-height: 450px;
  justify-content: space-between;
  flex-direction: column;
}

.project_right{
    display: block;
    z-index: 0;
    max-height: 450px;
}

.title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text {
    font-size: 16px;
    margin-bottom: 80px;
}

.project_content{
    box-sizing: border-box;
    min-width: 428px;
    min-height: 200px;
    max-width: 428px;
    max-height: 200px;
    justify-content: left;
    font-family: "Montserrat";
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    padding: 40px 46px;
    z-index: 1;
    line-height: 20px;
}

.project_img{
    
    position: relative;
    margin: 0 0 0 400px;
}

.buttons{
    display: block;
    margin-top: 50px;
}

.button_1{
    width: 40px;
    padding: 9px;
    border: solid #000 1px;
    transform: rotate(-200grad);
    transition: color .2s linear;
    animation-name: action;
    animation-duration: 4s;
}

.button_2{
    width: 40px;
    padding: 9px;
    border: solid #000 1px;
    margin-left: 5px;
    transition: color .2s linear;
    animation-name: action;
    animation-duration: 4s;
}

/* News
=========================================================================== */

.news{
    background: linear-gradient(to right, #fff 60%, #E5E5E5 40%);
}

.news_inner{
    display: block;
    padding: 100px 0;
}

.news_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-bottom: 40px;
}

.left{
    text-align: left;
}

.news_title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.news_text {
    font-size: 16px;
}

.news_button{
    padding: 16px 30px;
    background-color: #0F4898;
    cursor: pointer;
}

.button_text{
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}

.news_blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block_element{
    max-width: 255px;
    align-items: center;
}


.block_content{
    margin: 30px 45px 30px 15px;
}

.block_date{
    color: #3b3b3b;
    margin-bottom: 15px;
    font-style: 11px;
}

.block_title{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 20px;
}

.block_text{
    margin-bottom: 20px;
}

.block_content{
    text-align: left;
}

.block_button{
    padding: 16px 30px;
    background-color: #0F4898;
    cursor: pointer;
    margin-right: 50px;
}

.block_button_text{
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}

/* footer
=================================================================================== */

footer{
    background-color: #323232;
}

.container_footer{
    margin: 0 auto;
    width: 100%;
    max-width: 530px;
}

.footer_inner{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_top{
    display: flex;
    justify-content: center;
}

.footer_text_top{
    margin-right: 25px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.footer_text_top:last-child{
    margin-right: 0;
}

.footer_bottom_text{
    font-size: 11px;
    color: #fff;
    letter-spacing: 1px;
}